// Place all the styles related to the Firma controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spNombre{
	
	font-family: "Calibri", "sans-serif";
	font-size: 12pt;
	color: #2E74B5;
	font-weight: bold;
	line-height: 14px;
	
	}
	
	#spOpcion{
	
	 font-family: "Calibri", "sans-serif";
	 font-size: 11pt;
	 color: black;
		
	}
	
	#spMail{
	
	 font-family: "Calibri", "sans-serif";
	 font-size: 11pt;
	 color: black;
		
	}
	
	#spFono, #spAnexo{
	
	 font-family: "Calibri", "sans-serif";
	 font-size: 11pt;
	 color: black;
		
	}
	
	#spLink{
	
	font-family: "Calibri", "sans-serif";
	font-size: 10pt;
	color: #1f497d;
		
	}
	
	#tablaFirmaMailDatos{
		margin-left:20px;
	}